token: "{{ rke2_token }}"
tls-san:
  - "{{ cluster_vip }}"
  - "{{ cluster_domain }}"
node-ip: "{{ node_ip | default(ansible_host) }}"
advertise-address: "{{ node_ip | default(ansible_host) }}"
write-kubeconfig-mode: "0600"
secrets-encryption: true
cni: canal
cluster-cidr: "{{ pod_cidr | default('100.64.0.0/16') }}"
service-cidr: "{{ service_cidr | default('100.65.0.0/16') }}"
cluster-dns: "{{ cluster_dns | default('100.65.0.10') }}"
ingress-controller:
  - "{{ rke2_effective_ingress_controller | default('traefik') }}"
{% if inventory_hostname != groups['rke2_servers'][0] %}
server: "https://{{ cluster_vip }}:{{ rke2_registration_vip_port | default(9346) }}"
{% endif %}
