apiVersion: helm.cattle.io/v1
kind: HelmChart
{% set traefik_exposure = rke2_traefik_exposure | default('hostPort') %}
metadata:
  name: traefik
  namespace: kube-system
spec:
  repo: "{{ rke2_traefik_chart_repo | default('https://traefik.github.io/charts') }}"
  chart: "{{ rke2_traefik_chart_name | default('traefik') }}"
  version: "{{ rke2_traefik_chart_version }}"
  targetNamespace: "{{ rke2_traefik_namespace | default('kube-system') }}"
  createNamespace: true
  valuesContent: |-
    deployment:
      kind: DaemonSet
    ingressClass:
      enabled: true
      isDefaultClass: true
      name: traefik
    providers:
      kubernetesIngress:
        enabled: true
        ingressClass: traefik
    service:
      enabled: true
      type: "{{ (traefik_exposure == 'nodePort') | ternary('NodePort', 'ClusterIP') }}"
    ports:
      web:
{% if traefik_exposure == 'nodePort' %}
        nodePort: {{ rke2_traefik_web_node_port | default(30080) }}
{% else %}
        hostPort: 80
{% endif %}
        expose:
          default: true
        exposedPort: 80
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
{% if traefik_exposure == 'nodePort' %}
        nodePort: {{ rke2_traefik_websecure_node_port | default(30443) }}
{% else %}
        hostPort: 443
{% endif %}
        expose:
          default: true
        exposedPort: 443
        tls:
          enabled: true
{% if rke2_traefik_image_repository | default('') | length > 0 or rke2_traefik_image_tag | default('') | length > 0 %}
    image:
{% if rke2_traefik_image_repository | default('') | length > 0 %}
      repository: "{{ rke2_traefik_image_repository }}"
{% endif %}
{% if rke2_traefik_image_tag | default('') | length > 0 %}
      tag: "{{ rke2_traefik_image_tag }}"
{% endif %}
{% endif %}
