token: "{{ k3s_token }}"
node-ip: "{{ node_ip | default(ansible_host) }}"
write-kubeconfig-mode: "0600"
tls-san:
  - "{{ cluster_vip }}"
  - "{{ cluster_domain }}"
{% if inventory_hostname != groups['rke2_servers'][0] %}
server: "https://{{ cluster_vip }}:6443"
{% endif %}
